<%= form_for :project, url: project_path(@project), method: :patch, remote: true do |f| %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit value: 'Rename project'%>
  </p>

<% end %>
