<div class='col-md-8'>
  <span class="glyphicon glyphicon-calendar calendar"></span><span class='name'><%= @project.name %></span>
</div>
<div class='col-md-4'>
<%= link_to project_path(@project), remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
  <i class="glyphicon glyphicon-trash trash"></i>
<% end %>
<%= link_to edit_project_path(@project), remote: true do %>
  <i class="glyphicon glyphicon-pencil pencil"></i>
<% end %>
</div>
