.new_task input, .new_task select{
  width: 100%;
}
#projects .panel-heading{
  height:70px;
}
#projects .panel-heading .trash, #projects .panel-heading .pencil{
  color: #fff;
  opacity: 0.7;
  padding-right: 10px;
  font-size: 33px;
  top: 11px;
}
#projects .panel-heading .name{
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  padding: 7px;
}
#projects .panel-heading .calendar{
  font-size: 45px;
}
#projects .panel-heading{
  background-color: #337ab7;
  background-image: none;
}
#projects .panel-body .plus{
  top:8px;
  color: #007a00;
}
td{
  position: relative
}
tr.done td:before{
	  content: '';
	  position: absolute;
	  top: 38%;
	  left: 0px;
	  right: 0px;
	  height: 1px;
	  border-top: 2px solid #8bffd8;
}
.done{
  color: #8bffd8;
}
.login-input{
  margin: 0 auto;
}
